.main-page-crm {
    margin-top: 200px;
}

.header-style {
    font-size: 15px;
    color: rgb(99, 99, 99);
}

.header-style-light {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.gris {
    background-color: rgba(9, 66, 106);
}