<!--PRIMERA SECCIÓN DE LA PÁGINA-->
<app-navbar></app-navbar>
<a cla name="home" id="home"></a>
<div class="wrapper">
    <div class="page-header anim-img" style="background-image: url('./assets/img/landingpageimgV2.jpg')">
        <div class="main-page-crm" style="">
            <div class="row">

                <div class="container">

                    <h3 class="font-weight-bold" style="color: rgb(255, 255, 255); font-size: 33px;"><b>El CRM que te acompañará a 
                                        <br> culminar tus ventas con éxito.</b></h3>
                    <br>
                    <p class="font-weight-bold" style="color: rgb(255, 255, 255); font-size: 16px;"><b> Te proporcionaremos un software como servicio en la nube <br> para dar seguimiento a prospectos o clientes en <br> diferentes etapas de las oportunidades de venta, por medio <br> de actividades, gráficas y metas en el proceso de ventas.</b>
                    </p>
                    <br>
                    <a [routerLink]="['/registro']" class="btn btn-rose btn-round" style="background-color: rgb(40, 40, 175); border: none; width: 200px; height: 40px;">VER DEMOSTRACIÓN</a>

                </div>
            </div>
        </div>

    </div>
</div>
<!--TERMINA LA PRIMERA SECCIÓN DE LA PÁGINA-->

<!--SEGUNDA SECCIÓN DE LA PÁGINA-->
<a id="funciones"></a>
<div class="section page-header" style="background-image: url('./assets/img/presentation-page/LogoFunc.png'); max-height: 2000px; ">
    <div class="container">
        <div class="row justify-content-center m-0">
            <div class="col-auto">
                <h3 class="font-weight-bold" style="color: rgb(99, 99, 99);"><b>  Customent beneficiará a tu empresa </b></h3>
                <br>
            </div>
        </div>
        <div class="container-fluid">
            <div class="space-top"></div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style=" min-height: 32rem;">
                        <img class="card-img-top" src="./assets/img/presentation-page/agenda.jpg" alt="Card image cap" style="width: 350px; height: 250px;">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold" style="text-align: center; font-size: 22px; color: rgb(99, 99, 99);"><b> Agenda </b></h4>
                            <p class="text-style" style="margin-top: 2%; text-align: center;">En este apartado podrás tener una visión detallada de tus actividades y las de tu equipo de trabajo. En ella se registran las reuniones de equipo, asistencia a formaciones y, tal vez lo más importante, las visitas a clientes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style=" min-height: 32rem;">
                        <img class="card-img-top" src="./assets/img/presentation-page/oportunidades.jpg" alt="Card image cap" style="width: 350px; height: 250px;">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold" style="text-align: center; font-size: 22px; color: rgb(99, 99, 99);"><b> Oportunidades </b></h4>
                            <p class="text-style" style="margin-top: 2%; text-align: center;">En esta pestaña se registran todas las actividades comerciales: las oportunidades ganadas, perdidas o en proceso. También se pueden añadir tareas, notas, e-mails, toda la información necesaria para conseguir nuestro objetivo,
                                vender.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="min-height: 32rem;">
                        <img class="card-img-top" src="./assets/img/presentation-page/tareas2.jpg" alt="Card image cap" style="width: 350px; height: 250px;">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold" style="text-align: center; font-size: 22px; color: rgb(99, 99, 99);"> Actividades </h4>
                            <p class="text-style" style="margin-top: 2%; text-align: center;">Como parte del equipo de trabajo puedes crear actividades y asignártelas a ti mismo o a algún compañero. En este módulo podrás comprobar si ya se han realizado o cuándo hay que llevar a cabo las actividades. Además, la plataforma
                                envía e-mails como recordatorio.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center m-0">
                <div class="col-auto">
                    <a [routerLink]="['/functionsPage']" class="text-style">Ver más</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--TERMINA LA SEGUNDA SECCIÓN DE LA PÁGINA-->

<!--TERCERA SECCIÓN DE LA PÁGINA-->
<div class="section section-cards section-style-orange">
    <div class="codrops-header">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <div class="section-description">
                    <h3 class="text-title-light-bigger font-weight-bold"> <b> Automatiza el flujo de las ventas. </b></h3>

                    <h5 class=" description text-style-light-bigger">El CRM está diseñado para guiar al usuario en las diferentes etapas del ciclo de venta, controlando de esta manera el proceso desde la adquisición de clientes hasta el cierre con éxito de las ventas.
                        <br> También podrás conocer mejor el comportamiento de compra del Cliente y así apoyar en el pronóstico de la venta. </h5>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <div class="image-container">
                    <img src="./assets/img/presentation-page/section1.png" alt="Cards">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-components">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="image-container">
                <img class="components-macbook" src="./assets/img/presentation-page/macCrm.png" alt="" />
                <img class="table-img" src="./assets/img/softwareSS/Dashboard.png" alt="" />
                <img class="coloured-card-btn-img" src="./assets/img/softwareSS/dashboardE1.png" alt="" />
                <img class="coloured-card-img" src="./assets/img/presentation-page/ActividadesR-Card.png" alt="" />
                <img class="social-img" src="./assets/img/presentation-page/social-rowCRM.png" alt="" />

            </div>
        </div>
        <div class="col-md-10 col-lg-4 ml-auto mr-auto">
            <div class="container basic-container">
                <h3 class="text-title-bigger font-weight-bold">Proporciona un resumen de ventas.</h3>
                <h5 class="description text-style-bigger">Como encargado de área de ventas podrás tener seguimiento de los vendedores y un mayor control de puntos importantes como estado de las ventas y los tiempos de servicio.
                    <br> De la misma manera el vendedor podrá medir y comparar su rendimiento en base a los reportes de venta obtenidos.</h5>
            </div>
        </div>
    </div>
</div>

<div id="fadeInAnim">
    <div class="section section-content section-style-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mr-auto">
                    <div class="section-description">
                        <h3 class="text-title-light-bigger font-weight-bold">Mejora el seguimiento y control de los clientes, brindándo en una sola plataforma:</h3>

                        <ul>
                            <li>
                                <h5 class="description text-style-light-bigger">Facilidad de registro.</h5>
                            </li>
                            <li>
                                <h5 class="description text-style-light-bigger">Búsqueda de clientes rápida y práctica.</h5>
                            </li>
                            <li>
                                <h5 class="description text-style-light-bigger">Programación de actividades con el cliente</h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 ml-auto">
                    <div class="image-container">
                        <img class="img" src="./assets/img/presentation-page/clientes1.png" />
                        <img class="area-img add-animation" src="./assets/img/presentation-page/clientes2.png" style=" height: 420px;" />
                        <img class="info-img add-animation" src="./assets/img/presentation-page/clientes3.png" style=" height: 420px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TERMINA LA TERCERA SECCIÓN DE LA PÁGINA-->

<!--CUARTA SECCIÓN DE LA PÁGINA-->
<a name="precio" id="precio"></a>
<div class="section section-style page-header" style="background-image: url('./assets/img/presentation-page/LogoPagos.png');">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card ">
                    <div class="card-body" style="background-color: rgb(9, 66, 106); border-radius: 15px;">
                        <h3 class="card-title text-title-light font-weight-bold" style="text-align: center; font-size: 30px;"> <b> BÁSICO </b> </h3>
                        <br>
                        <p class="card-text text-style-light">Complementos del paquete básico.</p>
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-style" style="border-radius: 10px;">
                                <div class="icon">
                                    <i class="nc-icon nc-minimal-right"></i> CRM hasta para 10 usuarios
                                </div>
                            </li>
                            <br>
                            <h3 class="font-weight-bold" style="text-align: center; color: white;"><b>GRATIS</b></h3>
                            <br>
                            <div class="row justify-content-center m-0">
                                <div class="col-auto">
                                    <a [routerLink]="['/pago']" class="btn btn-rose btn-round" style="background-color: rgb(40, 40, 175); border: none;">ME INTERESA</a>
                                </div>
                            </div>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body" style="background-color: rgb(249, 161, 27); border-radius: 15px;">
                        <h3 class="card-title text-title-light font-weight-bold" style="text-align: center; font-size: 30px"><b> AVANZADO </b> </h3>
                        <br>
                        <p class="card-text text-style-light">Complementos del paquete avanzado.</p>
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item text-style" style="border-radius: 10px;">
                                <div class="icon">
                                    <i class="nc-icon nc-minimal-right"></i> CRM hasta para equipos de cualquier tamaño
                                </div>
                            </li>
                            <br>
                            <h3 class="font-weight-bold" style="text-align: center; color: white;"><b>$10 USD/MES</b></h3>
                            <br>
                            <div class="row justify-content-center m-0">
                                <div class="col-auto">
                                    <a [routerLink]="['/pago']" class="btn btn-rose btn-round" style="background-color: rgb(40, 40, 175); border: none;">ME INTERESA</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-auto">
                <h3 class="font-weight-bold" style="color: rgb(99, 99, 99);"><b>  Tenemos los mejores planes para ti. </b></h3>
                <br>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-auto">
                <a [routerLink]="['/pago']" class="btn btn-rose btn-round" style="background-color: rgb(40, 40, 175); border: none;">IR A PLANES</a>
            </div>
        </div>
    </div>
</div>
<!--TERMINA LA CUARTA SECCIÓN DE LA PÁGINA-->

<!--INICIA LA QUINTA SECCIÓN DE LA PÁGINA-->

<div class="wrapper" id="blog">
    <div class="container">
        <div class="row justify-content-center m-0">
            <div class="col-auto">
                <hr>
                <h3 class="font-weight-bold" style="color: rgb(99, 99, 99);"><b>  Revisa nuestras últimas novedades. </b></h3>
                <br>
            </div>
        </div>
        <br>
        <div class="blog-4">
            <div class="row">
                <div class="col-md-6" *ngFor="let blog of blogs">
                    <div class="card card-plain card-blog text-center">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img class="img img-raised" src="{{blog.img_blog}}" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-orange">Customent</h6>
                            <h3 class="card-title">
                                <a href="javascript:void(0)">{{blog.title_blog}}</a>
                            </h3>
                            <p class="card-description blog-text">
                                {{blog.description_blog}}
                            </p>
                            <br/>
                            <a class="btn btn-rose btn-round" [routerLink]="['/specific/blog']" (click)="setBlog(blog)" style="background-color: rgb(40, 40, 175); border: none;">VER MÁS</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--TERMINA LA QUINTA SECCIÓN DE LA PÁGINA-->

<!--SEXTA SECCIÓN DE LA PÁGINA-->

<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/presentation-page/contacto3.jpg')">
        <div class="container">
            <div class="row" style="margin-top: 12%;">
                <div class="col-md-6">
                    <div class="card card-contact card-raised">
                        <div class="card-header header-raised header-primary text-center">
                            <h2 class="card-title">Contáctanos</h2>
                        </div>
                        <form role="form" id="contact-form" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label text-style">Nombre</label>
                                            <input type="text" name="nombre" class="form-control" placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label text-style">Apellido</label>
                                            <input type="text" name="apellido" class="form-control" placeholder="Apellido" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label text-style">Correo electrónico</label>
                                            <input type="email" name="email" class="form-control" placeholder="Correo electrónico">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label text-style">Teléfono</label>
                                            <input type="number" name="telefono" class="form-control" placeholder="Teléfono">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label text-style">Compañía</label>
                                            <input type="text" name="compañia" class="form-control" placeholder="Compañía">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-style">Su mensaje</label>
                                    <textarea name="message" class="form-control" id="message" rows="6" placeholder=""></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 ml-auto">
                                        <a class="btn btn-rose btn-round" style="background-color: rgb(40, 40, 175); border: none;">Enviar correo</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TERMINA LA SEXTA SECCIÓN DE LA PÁGINA-->

<!--SEPTIMA SECCIÓN DE LA PÁGINA-->
<footer class="footer " style="background-color: rgb(1, 66, 106);">
    <div class="container">
        <div class="row justify-content-center m-0">
            <div class="col-auto " style="margin-top: 3%;">
                <img src="./assets/img/presentation-page/Logo-CV2-CustomentV2.png" alt="" width="200px" height="110px">
            </div>
            <div class="col-md-8 " style="margin-top: 5%;">
                <p class="text-style-light-footer" style="text-align: center;">Customent te compañará para llevar tus ventas a otro nivel cerrando tratos antes, tomando mejores decisiones, ahorrando tiempo y más.</p>
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-auto " style="margin-top: 2%; ">
                <button class="btn btn-just-icon btn-facebook mr-1">
                            <i class="fa fa-facebook"></i>
                        </button>
                <button class="btn btn-just-icon btn-instagram mr-1">
                            <i class="fa fa-instagram"></i>
                        </button>
                <button class="btn btn-just-icon btn-twitter mr-1">
                            <i class="fa fa-twitter"></i>
                        </button>
                <button class="btn btn-just-icon btn-whatsapp mr-1" style="background-color: rgb(37, 211, 102); border-color: rgb(37, 211, 102);">
                            <i class="fa fa-whatsapp" style="background-color: rgb(37, 211, 102);"></i>
                </button>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <ul class="navbar-nav">
                            <a href="#home" class="text-style-light-footer" style="font-size: 12px;">HOME</a>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="navbar-nav">
                            <a [routerLink]="['/contactus']" class="text-style-light-footer" style="font-size: 12px;">CONTACTO</a>
                        </ul>
                    </div>
                </div>
                <hr style=" border-color: rgb(99, 99, 99);">
            </div>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-md-2">

            </div>
            <div class="col-auto">
                <span class="copyright">
                    © {{date | date: 'yyyy'}} Zitheonsoft | Todos los derechos reservados
                </span>
            </div>
        </div>
    </div>
</footer>