.footer-box {
    margin-top: 20%;
}

.main-page-crm {
    margin-top: 150px;
}

.footer-list {
    height: 20px;
}

.footer-text {
    color: rgb(99, 99, 99);
}

.text-style-light-footer {
    font-size: 12px;
    color: rgb(140, 140, 140);
}

.header-style {
    font-size: 15px;
    color: rgb(99, 99, 99);
}

.text-style {
    font-size: 16px;
    color: rgb(99, 99, 99);
}

.header-style-light {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.gris {
    background-color: rgba(249, 161, 27);
}

::after {
    color: rgb(99, 99, 99);
    background-color: rgba(9, 66, 106);
}