.main-page-crm {
    margin-top: 200px;
}

.card-registro-style {
    width: 800px;
    height: 500px;
}

.modal-body {
    height: 300px;
    width: 100%;
    overflow-y: auto;
}

.gris {
    background-color: rgba(9, 66, 106);
}

::after {
    color: rgb(99, 99, 99);
    background-color: rgba(9, 66, 106);
}